@import 'tailwindcss';

/* Custom variables */
@theme {
    --color-primary-50: #edf3fa;
    --color-primary-100: #c6daf0;
    --color-primary-200: #aac8e8;
    --color-primary-300: #84afde;
    --color-primary-400: #6c9fd7;
    --color-primary-500: #4787cd;
    --color-primary-600: #417bbb;
    --color-primary-700: #326092;
    --color-primary-800: #274a71;
    --color-primary-900: #1e3956;
}

@utility container {
    @apply mx-auto font-medium;
}

.nav-item {
    @apply p-2 px-4 rounded-lg transition-colors hover:bg-slate-700/10;
}
